@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    color: #622201;
    font-size: 1rem;
    line-height: 1;
    background-color: #f5ebdc;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
}

li,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}
